@media (max-width: $bp1-width) {
  #new {
    // padding-top: $header-height;

    form {
      padding-inline: 3rem;
    }
  }
}

@media (max-width: $bp2-width) {
  #root {
    .section-container {
      width: 100vw;
    }
    .search,
    .top-bar {
      padding-inline: 0.5rem;
    }
    .top-bar {
      justify-content: space-between;
    }

    grid-template-columns: 1fr;
    padding-bottom: $navbar-height;
    #home {
      grid-template-columns: 1fr;
      grid-column-end: span 2;
      .card-wrapper {
        z-index: 300;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    #new {
      form {
        width: 100%;
        padding: 1rem;
        .group,
        .author,
        .group-alt {
          grid-template-columns: 1fr;
        }
        .author {
          label:not(label:first-child) {
            margin-top: 0.8rem;
          }
        }
        .repertoire,
        .genre {
          margin-bottom: $form-gap;
        }
        .comment-wrapper {
          margin-top: -3rem;
        }
      }
    }
    #login {
      width: 100vw;
    }
    #user {
      width: 100vw;
    }
  }
}
