$pri-font-color: #fff;
$sec-font-color: #ccc;
$pri-bg-color: #181818;
$sec-bg-color: #222;
$ter-bg-color: #444;

$pri-btn-color: rgb(0, 42, 45);
$sec-btn-color: #444;
$ter-btn-color: #666;
$btn-border-radius: 0.3rem;
$action-btn-size: 1.8rem;

$card-padding: 1rem;
$card-bottom-spacing: 0.7rem;
$card-item-spacing: 0.6rem;
$card-gap: 0.5rem;

$big-svg-size: 1.6rem;
$small-svg-size: 1.3rem;

$green-color: #0a9434;
$blue-color: #0a6f94;

$download-color: rgba($color: #000, $alpha: 0.5);
$download-hover-color: rgba($color: $green-color, $alpha: 0.7);
$link-hover-color: rgba($color: $blue-color, $alpha: 0.4);

$input-border-radius: 0.3rem;
$input-font-color: $pri-font-color;
$input-bg-color: $sec-btn-color;
$input-padding: 0.4rem 0.8rem;
$form-group-h-gap: 3rem;
$form-group-v-gap: 0.2rem;
$form-author-gb-color: #121212;
$form-gap: 1.6rem;

