#new {
  padding-top: $header-height;
  display: flex;
  form {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    padding-inline: 10rem;
    gap: $form-gap;

    .version {
      background: $sec-bg-color;
      padding: $form-gap;
      border-radius: 0.6rem;
      .upload-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
      }
      .accompaniment-group {
        margin-top: auto;
      }
    }
    .version:not(:first-child),
    .authors-title {
      margin-top: 1.2rem;
    }

    // Horizontal group
    .hg {
      display: flex;
      flex-direction: row;
      gap: $form-group-h-gap;
    }

    // Vertical group
    .vg {
      display: flex;
      flex-direction: column;
      gap: $form-group-v-gap;
    }

    // Big label
    .bl {
      display: flex;
      gap: 0.6rem;
      font-size: 1.2rem;
      font-weight: 900;
      font-family: Inter;
    }
    // Big title
    .bt {
      font-size: 1.2rem;
      font-weight: 900;
      margin-bottom: 0.6rem;
      font-family: Inter;
    }
  }
  .comment-wrapper {
    margin-top: 1rem;
  }

  .genre-wrapper {
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    div {
      width: 100%;
    }
  }

  textarea {
    resize: none;
  }
  .authors {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    .author {
      background: #222;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $form-group-h-gap;
      row-gap: 1.2rem;
      padding: $form-gap;
      border-radius: 0.6rem;
    }
  }
  .arr {
    .author {
      background: #333;
    }
  }

  .btns {
    display: flex;
    margin-top: 0.6rem;
    gap: 0.6rem;
  }

  .repertoire {
    margin-top: 1.5rem;
    label {
      width: calc(100% + 0.5rem);
      input {
        width: fit-content;
        margin-right: 0.5rem;
      }
    }
  }

  .genre {
    margin-top: 1.5rem;
    width: 100%;
  }

  .group,
  .group-alt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $form-group-h-gap;
    row-gap: $form-group-v-gap;
  }

  .group {
    > .vg {
      margin-bottom: $form-gap;
    }
    .big-group {
      margin-top: 0.5rem;
    }
    .voices {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      .option-select {
        div {
          width: 10rem;
        }
      }
      div:nth-last-child(2) {
        width: 4rem;
      }
    }
  }
}
