@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import './constants';
@import './home';
@import './new';
@import './user';
@import './login';
@import './breakpoints';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

[data-dark-theme='false'] * {
  color-scheme: light;
}

html,
body {
  height: 100vh;
  color: $pri-font-color;
  background: $pri-bg-color;
  font-family: 'Inter', sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
}

.section-container {
  min-height: min-content;
  position: relative;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $sec-bg-color;
  min-width: max-content;
  z-index: 200;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1.5rem;
    h1 {
      font-family: 'Inter', sans-serif;
      font-size: 1.8rem;
      font-weight: 900;
    }
    h2 {
      font-family: 'Inter', sans-serif;
      color: $sec-font-color;
      font-size: 1rem;
      font-weight: 500;
    }
  }
  nav {
    align-self: stretch;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.6rem;
    width: 100%;
    li {
      width: 100%;
      align-self: stretch;
      padding-inline: 0.4rem;
      svg {
        display: flex;
        width: 1.4rem;
        height: 1.4rem;
      }
      a {
        display: flex;
        align-items: center;
        position: relative;
        gap: 0.6rem;
        padding-block: 0.7rem;
        padding-left: 0.5rem;
        color: $pri-font-color;
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 600;
        width: 100%;
        transition: 0.1s ease-in-out;
        text-transform: uppercase;
      }
      &:hover {
        background: $ter-bg-color;
      }
    }
    li.active {
      background: $sec-btn-color;
      &:hover {
        background: $ter-btn-color;
      }
    }
  }
}

.top-bar {
  position: sticky;
  height: $header-height;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background: $sec-bg-color;
  justify-content: center;
  align-items: center;
  padding-inline: 3rem;
  z-index: 200;
}

.top-bar.save {
  justify-content: flex-end;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $sec-bg-color;
  height: $navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 180;
  ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    svg {
      color: $pri-font-color;
      width: $svg-icon-size;
      height: $svg-icon-size;
    }
  }
}

.download.active {
  .loader {
    width: 70%;
    height: 4px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    display: block;
    &::before {
      content: '';
      position: absolute;
      background: $green-color;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-radius: 2px;
      animation: line 1.2s ease-in-out infinite;
    }
  }
  svg {
    display: none;
  }
}

.download {
  .loader {
    display: none;
  }
  svg {
    display: block;
  }
}

.toast-msg {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 2rem;
  bottom: 2rem;
  align-items: center;
  padding-left: 10px;
  border-radius: 0.3rem;
  overflow: hidden;
  gap: 10px;
  font-weight: 400;
  z-index: 400;
  color: $pri-font-color;
  .text {
    padding-block: 0.75rem;
    font-size: 1rem;
  }
  button {
    border: 0;
    height: 2.5rem;
    margin-left: 1.2rem;
    svg {
      transform: scale(0.9);
      color: $pri-font-color;
    }
  }
  &.success {
    background-color: #2e7d32;
  }
  &.error {
    background-color: #d32f2f;
  }
  &.information {
    background-color: #0288d1;
  }
}

@keyframes line {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
